*.pyc
*.png
.idea/
venv/
venv/*

__pycache__/
__pycache__/*
.python-version
poetry.lock
pyproject.toml
.pytest_cache/
.pytest_cache/*
.mypy_cache
.coverage

.vscode/

ipynb/.ipynb_checkpoints/

results/
results/*.txt
results/*/*.txt
