site_name: TITAN
site_description: Documentation for the TITAN model
site_url: http://pph-collective.github.io/TITAN
theme:
  name: material
  features:
    - navigation.instant
    - navigation.tabs

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          setup_commands:
            - import sys
            - sys.path.append("docs")
          rendering:
            show_root_heading: false
            show_root_toc_entry: false
            heading_level: 3
      watch:
        - titan
        - run_titan.py

markdown_extensions:
  - admonition
  - codehilite

nav:
  - Overview: index.md
  - Getting Started:
    - Installation: getting_started.md
    - Running locally: run_local.md
    - Running on Oscar: run_oscar.md
    - Contributing: contributing.md
  - API Reference:
    - Agent: api/agent.md
    - AgentSet: api/agent_set.md
    - Agent Exposures:
      - Overview: api/exposures/index.md
      - HIV: api/exposures/hiv.md
      - Knowledge: api/exposures/knowledge.md
    - Agent Features:
      - Overview: api/features/index.md
      - HAART: api/features/haart.md
      - High Risk: api/features/high_risk.md
      - Incarceration: api/features/incar.md
      - External Exposure: api/features/external_exposure.md
      - Partner Tracing: api/features/partner_tracing.md
      - PrEP: api/features/prep.md
      - Random Trial: api/features/random_trial.md
      - Syringe Services: api/features/syringe_services.md
      - Vaccine: api/features/vaccine.md
    - Agent Interactions:
      - Overview: api/interactions/index.md
      - Injection: api/interactions/injection.md
      - Peer Change Agent: api/interactions/pca.md
      - Sex: api/interactions/sex.md
    - Location: api/location.md
    - Model: api/model.md
    - Partnering: api/partnering.md
    - Population: api/population.md
    - Relationship: api/relationship.md
    - Reporting: api/reporting.md
    - Utility Functions: api/utilities.md
